html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,a,address,em,img,ol,ul,li,fieldset,form,label,legend,table,tbody,tfoot,thead,tr,th,td,i,b,s{margin:0;padding:0;border:0;font-family:Helvetica,Arial}
ul,ol{list-style:none}
body,html{background-color: #fdeb01;overflow: hidden;width: 100%;height: 100%;}
.loading{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.loading-wrap{
	position: absolute;;
	top: 30%;
	left: 50%;
	margin-left: -50px;
}
.loading-pic{
	width: 80px;
	height: 80px;
	background: url(../img/loading.png) no-repeat 0 0 /cover;
	position: absolute;
	left: 20px;
	top: 20px;
}
.loading-text{
	position: absolute;
	left: 25px;
	bottom: 10px;
	text-align: center;
}
	/*<div class="home">
		<div class="title"></div>
		<div class="subtitle"></div>
		<div class="entitle"></div>
		<div class="hand-wrap">
			
		</div>
	</div>*/
.home{
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.home .title{
	width: 530px;
	height: 77px;
	position: absolute;
	left: 60px;
	top: 40px;
	background: url(../img/title.png) no-repeat 0 0 /cover;
	display: none;
}
.home .subtitle{
	width: 524px;
	height: 102px;
	position: absolute;
	left: 55px;
	top: 137px;
	background: url(../img/subtitle.png) no-repeat 0 0 /cover;
	display: none;
}
.home .entitle{
	width: 531px;
	height: 45px;
	position: absolute;
	left: 51px;
	top: 266px;
	background: url(../img/entitle.png) no-repeat 0 0 /cover;
	display: none;
}
.home .hand-wrap{
	width: 611px;
	height: 749px;
	position: absolute;
	bottom:0;
	left: 0;
	display: none;
	background: url(../img/hand.png) no-repeat 0 0 /cover;
	animation:shake-wrap 2s linear both infinite ;
	transform-origin: 40% 90%;
}
@keyframes shake-wrap{
	0%{transform:rotate(0deg)}
	10%{transform:rotate(5deg)}
	20%{transform:rotate(-5deg)}
	30%{transform:rotate(5deg)}
	40%{transform:rotate(-5deg)}
	100%{transform:rotate(0deg)}
}
/*	<div class="result">
		<div class="title"></div>
		<div class="answer"></div>  
		<div class="avatar"></div> 
		<div class="hands"></div>
		<div class="btns"></div>
	</div>*/
.result{
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	.item{display: none;}
	.title{
		background: url(../img/result_title-62d28eb73c.png) no-repeat 0 0 /cover;
		width:527px;
		height: 47px;
		position: absolute;
		left:55px;
		top:64px;
	}
	.answer{
		background: url(../img/result_answer-b52317bd87.png) no-repeat 0 0 /cover;
		width:529px;
		height: 64px;
		position: absolute;
		left:48px;
		top:127px;
		display: none;
	}
	.avatar-wrap{
		background: url(../img/result_avatar_bg_1-847ddaa2c3.png) no-repeat 0 0 /cover;
		width:330px;
		height: 602px;
		position: absolute;
		left:156px;
		top:0px;
		.wenha{
			background: url(../img/result_avatar_bg_2-90e90a78e9.png) no-repeat 0 0 /cover;
			width:300px;
			height: 300px;
			position: absolute;
			left:15px;
			top:288px;
		}
		.avatar{
			background: url(../img/result_avatar-ebfefec7a2.png) no-repeat 0 0 /cover;
			width:300px;
			height: 300px;
			position: absolute;
			left:15px;
			top:288px;
			display: none;
		}
	}
	.hands{
		background: url(../img/shake_tips-8a9b58ae51.png) no-repeat 0 0 /cover;
		width:117px;
		height: 140px;
		position: absolute;
		left:263px;
		top:616px;
	}
	.btns{
		background: url(../img/result_btn-8ad12b43c0.png) no-repeat 0 0 /cover;
		width:419px;
		height: 109px;
		position: absolute;
		left:106px;
		top:784px;
	}
}
